/* Page */

:root {
  font-family: Times New Roman;
  font-size: 12pt;
  line-height: 1.2;
}


/* Titres */

h1,
h2,
h3 {
  color: #28716b;
  font-family: Arial;
}

h1 {
  font-size: 20pt;
  margin: 2rem 0;
  string-set: title contents;
  text-align: center;
}

h2 {
  font-size: 18pt;
  margin: 5rem 0 2rem;
  text-align: center;
}

h3 {
  font-size: 16pt;
  margin: 2rem 0 1rem;
}

h4 {
  border-bottom: 0.15em solid;
  font-family: Arial;
  font-size: 12pt;
  margin: 1rem 0;
}

h5 {
  font-size: 12pt;
  margin: 1rem 0 0;
}


/* Tags communs */

p {
  text-align: justify;
}

a {
  color: #2e74b5;
}

dt {
  margin-top: 1em;
}

dd {
  break-before: avoid;
  break-inside: avoid;
  margin-top: 0.5em;
}

dd > :first-child {
  margin-top: 0;
}

kbd {
  background: #e9e1e1;
  border: 1px solid #b3b1b1;
  border-radius: 0.2em;
  box-shadow: 0.1em 0.1em 0 #393232;
  padding: 0.1em;
  white-space: pre;
}

code {
  background: #393232;
  border-radius: 0.2em;
  color: white;
  padding: 0.1em 0.2em;
  white-space: pre;
}

pre {
  background: #111;
  border-radius: 0.2em;
  box-shadow: 0 0 0.5em #39323288;
  break-inside: avoid;
  font-size: 0.8em;
  overflow-x: scroll;
  padding: 1em;
}

pre code {
  background: transparent;
  padding: 0;
}

figure {
  break-inside: avoid;
  margin: 1em;
}

figure img {
  background-color: #00000008;
  border-radius: 0.2em;
  display: block;
  max-width: 100%;
}

figure figcaption {
  background: #efecec;
  border-radius: 0.2em 0.2em 0 0;
  box-shadow: 0 -0.5em 0.5em -0.5em #39323244 inset;
  display: inline-block;
  font-family: Arial;
  font-size: 0.8em;
  padding: 0.5em 1em;
}

figure.console pre,
figure.fichier pre {
  border-top-left-radius: 0;
  margin: 0;
}

figure.fichier figcaption code {
  background: none;
  color: inherit;
}

figure.fichier pre {
  background: #efecec88;
  box-shadow: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  box-shadow: 0 0 0.5em #39323244;
  margin: auto;
}

thead th {
  text-align: center;
}

tbody th {
  text-align: left;
}

td,
th {
  border: 1px solid;
  padding: 0.2em 0.5em;
}


/* TODO */

todo {
  background: red;
  border-radius: 0.2em;
  color: white;
  padding: 0.1em 0.3em;
}

todo::before {
  content: "À compléter (";
}

todo::after {
  content: ")";
}

todo:empty::before {
  content: "À compléter";
}

todo:empty::after {
  content: none;
}


/* Identifiants spécifiques */

#sommaire a {
  color: inherit;
  text-decoration: inherit;
}

#sommaire ul {
  padding-left: 1.5em;
}

#sommaire > ul {
  font-weight: bold;
  list-style: none;
  margin: 2em 0;
}

#sommaire > ul > li {
  margin-top: 0.5em;
}

#sommaire ul ul {
  font-weight: normal;
}

main {
  counter-reset: partie;
}

main > section {
  break-before: page;
}

section:is(#decouverte, #atelier) h2::before {
  content: "Partie " counter(partie) " : ";
  counter-increment: partie;
}

#quiz > ul {
  counter-reset: question;
  line-height: 1.6;
  list-style: none;
  padding-left: 0;
}

#quiz > ul > li {
  break-inside: avoid;
}

#quiz > ul > li::before {
  content: "Question " counter(question);
  counter-increment: question;
  display: block;
  font-weight: bold;
  margin-top: 2em;
}

#quiz ul ul {
  list-style: "☐ ";
}

#decouverte {
  counter-reset: etape;
}

#decouverte h3::before {
  content: "Étape " counter(etape) " : ";
  counter-increment: etape;
}

#fiches-ressources {
  counter-reset: ressource;
}

#fiches-ressources > section:not(:first-of-type) {
  break-inside: avoid;
}

#fiches-ressources h3::before {
  content: "Fiche ressource " counter(ressource);
  counter-increment: ressource;
  display: block;
}


/* Couleurs */

.vert {
  color: #8f8;
}

.rouge {
  color: #f44;
}

.bleu {
  color: #66f;
}

.violet {
  color: #a6a;
}

.jaune {
  color: #ff6;
}

.gris {
  color: #888;
}


/* Classes spécifiques */

.introduction {
  break-inside: avoid;
  font-style: italic;
  opacity: 0.65;
}

.questions {
  counter-reset: question-number;
}

.questions ol {
  font-family: Arial;
  font-size: 11pt;
  font-weight: bold;
  list-style: none;
}

.questions ol li::before {
  content: counter(question-number) ".";
  counter-increment: question-number;
  padding-right: 0.5em;
  position: absolute;
  transform: translate(-100%, 0);
}

.documents {
  background: #efecec;
  border-radius: 3px;
  box-shadow: 0 0 0.1em #1d1b1b33;
  float: right;
  margin: 0 0 1em 1em;
  width: 8em;
}

.documents a {
  text-decoration: inherit;
}

.documents ul {
  list-style: "➡️ ";
}

.annexes {
  counter-reset: annexe;
}

.annexes h4::before {
  content: "Annexe " counter(annexe) " : ";
  counter-increment: annexe;
}


/* Print */

@media print {
  @page {
    font-family: Times New Roman;
    font-size: 10pt;

    @bottom-left {
      content: string(title);
    }

    @bottom-right {
      content: counter(page);
    }
  }

  figure {
    font-size: 0.9em;
  }
}


/* Screen */

@media screen {
  html {
    background: #eaeaea;
    padding: 4em;
  }

  body {
    background: white;
    border-radius: 0.2em;
    box-shadow: 0 0 1em #1d1b1b33;
    box-sizing: border-box;
    padding: 2cm 2.5cm;
    max-width: 21cm;
    margin: auto;
  }
}
